biopython==1.79
gensim==4.2.0
hydra-core==1.2.0
linformer==0.2.1
matplotlib==3.5.3
numpy==1.21.6
nystrom-attention==0.0.11
pandas==1.5.0
reformer-pytorch==1.4.4
scikit-learn==1.0.2
timm==0.6.11
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
wandb==0.13.4
